<div class="main">
  <div class=" col-5">
    <div class="">
      <h2 class="formTitle d-flex justify-content-center">ingresar</h2>

      <form id="from-container">
        <div class="form-group">
          <label for="exampleInputEmail1">Correo Electrónico</label>
          <input type="text" class="form-control" id="email" name="email"required><br>
          <label for="exampleInputEmail1">Contraseña:</label>
          <input type="password" class="form-control" id="password"name="password"required><br> 

        </div>

      </form>
     
      <button id="btnSubmit" class="btn btn-info">Ingresar</button>
      
   
      
            
    </div>    
        
  </div>
    

       
</div>

{{!-- 

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> --}}
<script src="./scripts/login.js"></script>