<div class="main">
  <div class=" col-5">
    <div class="">
      <h2 class="formTitle d-flex justify-content-center">Registro</h2>

      <form id="from-container">
        <div class="form-group">
          <label for="exampleInputEmail1">Correo Electrónico</label>
          <input type="text" class="form-control" id="email" required><br>
          <label for="exampleInputEmail1">Nombre:</label>
          <input type="text" class="form-control" id="name" required><br>
          <label for="exampleInputEmail1">Apellido:</label>
          <input type="text" class="form-control" id="last_name" required><br>
          <label for="exampleInputEmail1">Edad:</label>
          <input type="number" class="form-control" id="age" required><br>
          <label for="exampleInputEmail1">Nombre de Usuario:</label>
          <input type="text" class="form-control" id="nickname" required><br>
          <label for="exampleInputEmail1">Contraseña:</label>
          <input type="password" class="form-control" id="password" required><br>
          <label for="exampleInputEmail1">Avatar URL:</label>
          <input type="text" class="form-control" id="avatar" required>
        </div>

      </form>
     
      <button id="btnSubmit" class="btn btn-info">Registrarse</button>
      
   
      
            
    </div>    
        
  </div>
    

       
</div>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="./scripts/record.js"></script>